@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}



/* ================================== about section ======================================= */
.about-banner{
  background-image: url(image/about-banner1.png);
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

  .about {
    margin-top: 70px;
  }
  
  .about-container {
    width: 85%;
    margin: auto;
  }
  
  .about-row {
    display: flex;
    gap: 40px;
  }
  
  .about-col {
    width: 30%;
    margin: auto;
  }
  
  .about-content {
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
    color: #021b35;
  }
  
  .about-content::before {
    content: "";
    width: 50px;
    height: 5px;
    background-color: yellow;
    top: 50px;
    left: 0px;
    position: absolute;
  }
  
  .about-para {
    padding-top: 30px;
    font-size: 20px;
  }
  
  .about-col1 {
    width: 45%;
  }
  
  .about-carousel {
    padding: 0.3em 0.3em 0;
    background: rgb(240, 240, 240);
    text-align: center;
  }
  
  .about-carousel div {
    position: relative;
    margin-bottom: 0.3em;
    padding-top: 56.25%;
  }
  
  .about-carousel iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .about-carousel span {
    display: inline-block;
    word-spacing: 1em;
    overflow: auto;
    white-space: nowrap;
    word-wrap: normal;
  }
  
  .about-carousel a {
    position: relative;
    display: inline-block;
    max-width: 120px;
    width: 25%;
    border: 1px solid blue;
    opacity: 0.7;
    text-decoration: none;
  }
  
  .about-carousel a:visited,
  .about-carousel a:nth-of-type(1) {
    border-color: #555;
  }
  
  .about-carousel a:hover {
    opacity: 1;
  }
  
  .about-carousel a:not(:active):focus {
    pointer-events: none;
  }
  
  .about-carousel a::before {
    content: "";
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    background: rgba(0, 0, 1, 0.1);
    transition: background 0s 9999999s;
  }
  
  .about-carousel a:nth-of-type(1)::before {
    background: rgba(255, 255, 254, 0.7);
  }
  
  .about-carousel span:active a::before {
    background: rgba(0, 0, 0, 0);
    transition: background 0s;
  }
  
  .about-carousel span:active a:active::before {
    background: rgba(255, 255, 255, 0.7);
    transition: background 0s;
  }
  
  .about-carousel img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  .who {
    margin: 50px 0px;
  }
  .who-img img{
    width: 100%;
  }
  
  .who-container {
    width: 85%;
    margin: auto;
  }
  
  .who-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .who-col {
    width: 50%;
    border: 1px solid rgb(204, 204, 203);
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .who-col:hover {
    box-shadow: 3px 0px 5px 2px rgb(211, 211, 210);
  }
  
  .who-col a {
    text-decoration-line: none;
    color: black;
  }
  
  .who-title {
    font-size: 40px;
    position: relative;
  }
  
  .who-title::after {
    content: "";
    width: 40px;
    height: 5px;
    background-color: yellow;
    top: 50px;
    left: 0px;
    position: absolute;
  }
  
  .who-p {
    padding: 50px 0;
  }
  
  .who-para {
    padding: 25px;
  }
  
  .who-para-h3 {
    font-size: 24px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: text-decoration 0.3s;
    color: black;
    position: relative;
  }
  
  .who-para .line {
    height: 5px;
    position: relative;
    width: 80px;
    bottom: 6px;
  }
  
  .who-para:hover .line {
    background-color: yellow;
  }
  
  .who-para-a {
    padding-top: 30px;
  }
  
  .who-para:hover .who-para-a {
    color: yellow;
  }
  
  @media (min-width: 320px) {
    .about-banner{
      width: 100%;
      background-position: 80% 100%;
    }
    .about-container {
      width: 90%;
      margin: auto;
    }
  
    .about-row {
      display: flex;
      flex-wrap: wrap;
    }
  
    .about-col {
      width: 100%;
    }
  
    .about-col1 {
      width: 100%;
    }
  
    .about-para {
      font-size: 15px;
    }
  
    .about-content {
      width: 100%;
      font-size: 30px;
    }
  
    .who-container {
      width: 90%;
      margin: auto;
    }
  
    .who-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .who-col {
      width: 100%;
    }
  
    .who-img img {
      max-width: 100%;
    }
  }
  
  @media (min-width: 760px) {
    .about-container {
      width: 90%;
      margin: auto;
    }
  
    .about-row {
      display: flex;
      flex-wrap: wrap;
    }
  
    .about-col {
      width: 85%;
    }
  
    .about-col1 {
      width: 85%;
    }
  
    .about-content {
      width: 100%;
      font-size: 30px;
    }
  
    .who-container {
      width: 90%;
      margin: auto;
    }
  
    .who-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .who-col {
      width: 50%;
    }
  
    .who-img img {
      max-width: 100%;
    }
  }
  
  
  @media (min-width: 1020px) {
    .about-banner-row img{
      max-width: 100%;
      height: auto;
    }
    .about-container {
      width: 85%;
      margin: auto;
    }
  
    .about-row {
      display: flex;
      flex-wrap: nowrap;
    }
  
    .about-col {
      width: 50%;
    }
  
    .about-col1 {
      width: 45%;
    }
  
    .about-content {
      font-size: 40px;
    }
  
    .about-para {
      font-size: 18px !important;
    }
  
    .who-container {
      width: 90%;
      margin: auto;
    }
  
    .who-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5%;
    }
  
    .who-col {
      width: 35%;
    }
  
    .who-img img {
      max-width: 100%;
    }
  }